
@{
    ViewBag.Title = "Business";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #b1,#b2:link{
        color:red;
        text-decoration:none;
    }
    #b1,#b2:active{
        color:red;
        text-decoration:none;
    }
    a img {
        width: 100%;
        height: auto;
    }

    span {
        font-size: 19px;
        text-decoration: none;
    }

    p, h2, h4, h3{
        font-family: "Faustina",serif;
    }
</style>


<h2>Business</h2>

<div class="row container">
    <div class="col-md-6">

        <h2>
            Foxconn withdraws from India's semiconductor JV with Vedanta
        </h2>
        <h4 class="text-secondary">
            Foxconn was careful to state that it was not breaking away from the Indian semiconductor space entirely
        </h4>
        <a id="b1" href="https://www.thehindu.com/business/Industry/foxconn-withdraws-from-indias-semiconductor-jv-with-vedanta/article67064177.ece">
            <img src="~/Images/2023-07-10T113412Z_528908013_RC27Q0AEMNLP_RTRMADP_3_HON-HAI-VEDANTA-CHIPS.jpg" />
        </a>
        <span class="text-muted">Foxconn.logo</span>
        <p id="foxconnText">
            Taiwan-based Hon Hai Technology Group, better known as Foxconn, pulled out of its joint venture with the Vedanta Group on July 10, the firm announced in a statement. “In order to explore more diverse development opportunities, according to mutual agreement, Foxconn has determined it will not move forward on the joint venture with Vedanta,” the company said in a statement.<br />

            Minister for Electronics and Information Technology Ashwini Vaishnaw said in a brief statement posted on Twitter, “Both the companies Foxconn and Vedanta are committed to India’s semiconductor mission and Make in India program.”<br />

            Under the $19.5 billion joint venture, the two firms were set to jointly invest into a semiconductor fabrication plant in Gujarat, which would make 28-nanometre semiconductors. Foxconn was careful to state that it was not breaking away from the Indian semiconductor space entirely and that it still supported the Indian government’s domestic chip-making efforts. The firm said that it would “establish a diversity of local partnerships that meet the needs of stakeholders”. The companies had submitted an application under the modified production-linked incentive scheme, which would have covered 50% of the project’s cost.<br />

            Over the past few days, uncertainty loomed over the joint venture, amid reports that the firms were not able to fulfill the government’s push for more technology transfer and investment from European firm STMicroelectronics.
        </p>
        <a id="b1" href="https://www.thehindu.com/business/Industry/foxconn-withdraws-from-indias-semiconductor-jv-with-vedanta/article67064177.ece">
            Read more ...
        </a>
        <hr />
    </div>
    <div class="col-md-6">
        <h2>
            What Are the New Features of the E-filing Portal of the Income Tax Department?
        </h2>
        <a id="b2" href="https://the-daily.buzz/what-are-the-new-features-of-the-e-filing-portal-of-the-income-tax-department/">
            <img src="~/Images/pexels-nataliya-vaitkevich-6863332-1140x570.jpg" />
        </a>
        <h4>
            Introduction
        </h4>
        <p>
            CBDT (Central Board of Direct Tax) introduced a new income tax portal on June 7, 2021. The previous e-filing site has replaced the new income tax portal. Individuals wishing to submit their taxes must now use this new gateway. The interface is being updated to make e filing of income tax return easier and remove errors or other challenges. Continue reading to learn about some important elements of the Income Tax Department’s e-filing platform.
        </p>
        <h4>
            What is E-filing of Income Tax Return?
        </h4>
        <p>
            The process of filing your tax returns online is referred to as e-filing. E-filing, which stands for electronic filing, may be conducted using the income tax website. All taxpayers may utilize e-filing.<br />

            Taxpayers benefit from online filing of ITR in terms of speed, security, and convenience. It also lessens the pressure on the Income Tax Department and gives a smart alternative to conventional paper filing.
        </p>
        <a id="b2" href="https://the-daily.buzz/what-are-the-new-features-of-the-e-filing-portal-of-the-income-tax-department/">
            Read more ...
        </a>
        <hr />

    </div>
</div>