
@{
    ViewBag.Title = "India";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    a, p, h2, h4, h3 {
        font-family: "Faustina",serif;
    }
    p{
        text-align:justify-all;
    }
    #i1:link,a:active{
        color:red;
        text-decoration:none;
    }
   a img{
        width:100%;
        height:auto;
    }
</style>

<h2>India</h2>

<div class="row container">
    <div class="col-md-6">
        <h2>
            Delhi on high alert as Yamuna crosses danger mark, touches 206.24 metres
        </h2>
        <p class="text-secondary">
            A rise in the water level in Yamuna was also seen at Vikasnagar, in Uttarakhand's Dehradun due to continuous rainfall
        </p>
        <a href="https://www.thehindu.com/news/cities/Delhi/delhi-on-high-alert-as-yamuna-crosses-danger-mark-touches-20624-meters/article67066462.ece">
            <img src="~/Images/Increase_Yamuna_Water_10_07_Delhi_.jpg" />

        </a>
        <p class="text-muted">
            Members of Navy personnel at Yamuna river, as water level close to the danger mark, 2.79 lakh cusecs of water released from Hathinkund Barrage, here is a scene at Old Railway bridge in Delhi on July 10 evening. | Photo Credit: Shiv Kumar Pushpakar
        </p>
        <p>
            The water level in the Yamuna River touched 206.24 metres, slightly above the danger mark of 205.33 metres, Central Water Commission said on July 11.<br />

            The officials further informed that the high flood level is— 207.49 metres. "The water level in Yamuna River crosses the danger mark of 205.33 meters, touching 206.24 meters; the high flood level is— 207.49 metres," Central Water Commission said.<br />

            The Rail traffic over the old Yamuna bridge in Delhi has been temporarily suspended since 6:00 a.m, today till July 11, said Northern Railway. Meanwhile, a rise in the water level in Yamuna was also seen at Vikasnagar, in Uttarakhand's Dehradun due to continuous rainfall.<br />

            Earlier, the water level of the Yamuna at the Old Railway Bridge was recorded at 206.04 mm at 11 p.m. on July 10. The Yamuna River in Delhi, which was flowing above warning level for hours, crossed the danger mark of 205.33 metres at 5 p.m. on July 10, the latest data from the flood control department said<br />

            The water level in Yamuna is rising continuously as Haryana released more water into the river from the Hathnikund barrage amid rains across northwest India including the national capital. According to the Flood Control Department, around 2,15,677 cusecs water was discharged through the Hathnikund barrage at 3 p.m. on July 10. A fresh spell of rainfall lashed the city on July 10 afternoon.

        </p>
        <a id="i1" href="https://www.thehindu.com/news/cities/Delhi/delhi-on-high-alert-as-yamuna-crosses-danger-mark-touches-20624-meters/article67066462.ece">
            Read more..
        </a>
        <hr />
    </div>

    <div class="col-md-6">

        <h2>
            Centre’s perspective of life in J&K post repeal of Article 370 has no bearing on constitutional challenge to the abrogation: Supreme Court
        </h2>

        <p class="text-secondary">
            Constitution Bench fixes hearings from August 2
        </p>
        <a href="https://www.thehindu.com/news/national/centres-perspective-of-life-in-jk-post-repeal-of-article-370-has-no-bearing-on-constitutional-challenge-to-the-abrogation-sc/article67066662.ece" target="_blank">
            <img src="~/Images/supreme_court_2_1_S6BEQOTJ.jpg" />
        </a>
        <p class="text-muted">
            The Supreme Court observed that the Home Ministry affidavit, filed on the eve of the Constitution Bench hearing, only sets out the “perspective of the Union government regarding the post abrogation of Article 370 developments has no bearing on the issues raised in the petitions and shall not hence be relied upon for that purpose”. File | Photo Credit: The Hindu
        </p>
        <p>
            A Constitution Bench on July 11 said the Centre’s fresh affidavit claiming that Jammu and Kashmir is witnessing an “unprecedented era of peace, progress and prosperity” following the abrogation of Article 370 on August 4, 2019 has “no bearing on the constitutional challenge” to the repeal of the provision.<br />

            The Bench headed by Chief Justice of India D.Y. Chandrachud and four of the senior most judges said it would start hearing the case from August 2.
        </p>
        <a id="i1" href="https://www.thehindu.com/news/national/centres-perspective-of-life-in-jk-post-repeal-of-article-370-has-no-bearing-on-constitutional-challenge-to-the-abrogation-sc/article67066662.ece">
            Read more ...
        </a>
        <hr />
    </div>

</div>

