
@{
    ViewBag.Title = "World";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    #trendingNow a:link, #trendingNow a:active, #trendingNow a:visited {
        text-decoration: none;
        color: black
    }
    #trendingNow a:hover {
        color: darkblue;
    }
    
    h2{
        font-size:25px;
    }

    div, p, h2, h4, h3 {
        font-family: "Faustina",serif;
    }
    a img{
        width:100%;
        height:auto;
    }


</style>


<h2>World</h2>

<div class=" conatainer">
    <div class="row">
        <div class="col-md-8">
            <div class="row">

                <div class="col">
                    <a href="https://the-daily.buzz/the-tragedy-and-legacy-of-the-rms-titanic/" target="_blank">
                        <img src="~/Images/W1-titanic-.jpg" />
                    </a>
                </div>

                <div class="col">
                    <h2>
                        The Tragedy and Legacy of the RMS Titanic
                    </h2>
                    <p class="text-muted">
                        by The Daily Buzz Team
                    </p>
                    <p class="text-secondary">
                        If you immediately start humming the tune, you recognize the theme from the Hollywood ...
                    </p>
                    <a href="https://the-daily.buzz/the-tragedy-and-legacy-of-the-rms-titanic/" target="_blank">
                        <p type="button" class="btn btn-dark">
                            Read More
                        </p>
                    </a>
                </div>
            </div>



            <div class="row">

                <div class="col">
                    <a href="https://the-daily.buzz/how-to-make-smart-energy-saving-choices-for-your-business/">
                        <img src="~/Images/W2.png" />
                    </a>
                </div>

                <div class="col">
                    <h2>
                        How to Make Smart Energy-saving Choices for Your Business
                    </h2>
                    <p class="text-muted">
                        by The Daily Buzz Team
                    </p>
                    <p class="text-secondary">
                        Your energy consumption savings will make your energy bill less each month. Every business owner is always on the lookout...
                    </p>
                    <a href="https://the-daily.buzz/how-to-make-smart-energy-saving-choices-for-your-business/" target="_blank">
                        <p class="btn btn-dark" type="button">
                            Read More
                        </p>
                    </a>
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col">
                    <a href="https://the-daily.buzz/how-can-eyewitness-testimonies-help-my-truck-accident-claim/">
                        <img src="~/Images/W3-Eyewitness-Testimonies.jpg" />
                    </a>
                </div>

                <div class="col">
                    <h2>
                        How Can Eyewitness Testimonies Help My Truck Accident Claim
                    </h2>
                    <p class="text-muted">
                        by The Daily Buzz Team
                    </p>
                    <p class="text-secondary">
                        When it comes to a truck accident claim, evidence is crucial for proving liability and securing the compensation you deserve....
                    </p>
                    <a href="https://the-daily.buzz/how-can-eyewitness-testimonies-help-my-truck-accident-claim/" target="_blank">
                        <p class="btn btn-dark">
                            Read More
                        </p>
                    </a>
                </div>


            </div>
        </div>

        <div class="col-md-4">

            <h2>Trending Now</h2>
            <p id="trendingNow">
                <a  href="#">Google Analytics 4: the Ultimate Guide to Understanding and Improving Your Website’s Performance</a><br /><hr />
               </p>
            <p id="trendingNow">
                <a  href="#">How Do I Turn My Grass Into a Flower Bed?</a><br /><hr />
                How Far From the House Should a Flower Bed Be?<br /><hr />
                How Do You Prepare the Ground for a Flower Bed?<br /><hr />
                Understanding Solar Energy and Solar Panels<br /><hr />
            </p>

        </div>
    </div>
</div>




