
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact Us</h2>
<hr />
<h4>
    Need Our Attention? Here’s how you can contact our team at The Daily Buzz
</h4>
<a href="www.gmail.com">
    Email: teamdailybuzz@gmail.com
</a>
