
@{
    ViewBag.Title = "PrivacyPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Privacy Policy</h2>

<h5 class="text-secondary">
    The Daily Buzz is concerned about privacy issues and wants you to be familiar with how we collect, use and disclose information. This Privacy Policy describes our practices in connection with information that we collect through the website owned and controlled by us, or operated by us or on our behalf, from which you are accessing this Privacy Policy (the “Site”). By providing Personal Information to us, you agree to the terms and conditions of this Privacy Policy.
</h5>

<h3>UPDATES TO THIS PRIVACY POLICY</h3>

<h5 class="text-secondary">
    We may change this Privacy Policy. Please take a look at the “LAST UPDATED” legend at the top of this page to see when this Privacy Policy was last revised. Any changes to this Privacy Policy will become effective when we post the revised Privacy Policy on the Site. Your use of the Site following these changes means that you accept the revised Privacy Policy.
</h5>

<h3>
    PERSONAL INFORMATION
</h3>
<h3>
    Personal Information We May Collect
</h3>
<h5 class="text-secondary">
    “Personal Information” is information that identifies you as an individual or relates to an identifiable person, such as:
</h5>

<ul >
    <li> Name</li>
    <li>
        Postal address (including billing and shipping addresses)
    </li>
    <li>
        Telephone number
    </li>
    <li>
        Email address
    </li>
    <li>
        Profile picture
    </li>
</ul>

<h3>
    How We May Collect Personal Information
</h3>

<h5 class="text-secondary">
    We and our service providers may collect Personal Information in a variety of ways, including:
</h5>
<ul>
    <li>
        Through the Services: We may collect Personal Information through the Site, e.g., when you sign up for a newsletter or make a purchase.

    </li>
    <li>

        From Other Sources: We may receive your Personal Information from other sources, such as public databases; joint marketing partners; social media platforms; from people with whom you are friends or otherwise connected on social media platforms, as well as from other third parties. For example, if you elect to connect your social media account to your Site account, certain Personal Information from your social media account will be shared with us, which may include Personal Information that is part of your profile or your friends’ profiles.
    </li>
</ul>
